@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  opacity: 0.8;
}

li:hover{
  color: black;
  transition: ease-in-out 0.5s;
}